<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Escrow.Service-20160426115548.mdf;Initial Catalog=aspnet-Escrow.Service-20160426115548;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->

    <add name="AccountConnection" connectionString="Data Source=192.168.0.15;Initial Catalog=Escrow.Security;user id=sa; password=ssl@1234" providerName="System.Data.SqlClient" />
    <add name="SecurityConnection" connectionString="metadata=res://*/Models.SecurityModel.csdl|res://*/Models.SecurityModel.ssdl|res://*/Models.SecurityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.15;initial catalog=Escrow.Security;persist security info=True;user id=sa;password=ssl@1234;MultipleActiveResultSets=True;Connection Timeout=1000;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConfigurationConnection" connectionString="metadata=res://*/Models.ConfigurationModel.csdl|res://*/Models.ConfigurationModel.ssdl|res://*/Models.ConfigurationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.15;initial catalog=Escrow.BOAS;persist security info=True;user id=sa;password=ssl@1234;MultipleActiveResultSets=True;Connection Timeout=1000;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="InvestorEntities" connectionString="metadata=res://*/Models.InvestorManagementModel.csdl|res://*/Models.InvestorManagementModel.ssdl|res://*/Models.InvestorManagementModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.15;initial catalog=Escrow.BOAS;user id=sa;password=ssl@1234;MultipleActiveResultSets=True;Connection Timeout=1000;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BrokerManagementEntities" connectionString="metadata=res://*/Models.BrokerManagementModel.csdl|res://*/Models.BrokerManagementModel.ssdl|res://*/Models.BrokerManagementModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.15;initial catalog=Escrow.BOAS;persist security info=True;user id=sa;password=ssl@1234;MultipleActiveResultSets=True;Connection Timeout=1000;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="InstrumentManagementConnection" connectionString="metadata=res://*/Models.InstrumentManagementModel.csdl|res://*/Models.InstrumentManagementModel.ssdl|res://*/Models.InstrumentManagementModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.15;initial catalog=Escrow.BOAS;persist security info=True;user id=sa;password=ssl@1234;multipleactiveresultsets=True;Connection Timeout=1000;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AccountingConnection" connectionString="metadata=res://*/Models.AccountingManagementModel.csdl|res://*/Models.AccountingManagementModel.ssdl|res://*/Models.AccountingManagementModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.15;initial catalog=Escrow.BOAS;persist security info=True;user id=sa;password=ssl@1234;MultipleActiveResultSets=True;Connection Timeout=1000;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TransactionEntities" connectionString="metadata=res://*/Models.TransactionModel.csdl|res://*/Models.TransactionModel.ssdl|res://*/Models.TransactionModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.15;initial catalog=Escrow.BOAS;user id=sa;password=ssl@1234;MultipleActiveResultSets=True;Connection Timeout=1000;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ChargeEntities" connectionString="metadata=res://*/Models.ChargeModel.csdl|res://*/Models.ChargeModel.ssdl|res://*/Models.ChargeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.15;initial catalog=Escrow.BOAS;persist security info=True;user id=sa;password=ssl@1234;MultipleActiveResultSets=True;Connection Timeout=1000;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BoasEntities" connectionString="metadata=res://*/Models.BoasModel.csdl|res://*/Models.BoasModel.ssdl|res://*/Models.BoasModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.15;initial catalog=Escrow.BOAS;persist security info=True;user id=sa;password=ssl@1234;MultipleActiveResultSets=True;Connection Timeout=1000;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BOASConnectionString" connectionString="Data Source=192.168.0.15;Initial Catalog=Escrow.BOAS;Persist Security Info=True;User ID=sa;Password=ssl@1234;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TradeEntities" connectionString="metadata=res://*/Models.TradeModel.csdl|res://*/Models.TradeModel.ssdl|res://*/Models.TradeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.15;initial catalog=Escrow.BOAS;user id=sa;password=ssl@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProcessEntities" connectionString="metadata=res://*/Models.ProcessEntity.csdl|res://*/Models.ProcessEntity.ssdl|res://*/Models.ProcessEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.15;initial catalog=Escrow.BOAS;user id=sa;password=ssl@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CDBLEntities" connectionString="metadata=res://*/Models.CDBLEntity.csdl|res://*/Models.CDBLEntity.ssdl|res://*/Models.CDBLEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.15;initial catalog=Escrow.BOAS;user id=sa;password=ssl@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ServiceEntities" connectionString="metadata=res://*/Models.ServiceModel.csdl|res://*/Models.ServiceModel.ssdl|res://*/Models.ServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.15;initial catalog=Escrow.BOAS;persist security info=True;user id=sa;password=ssl@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SecurityConnectionString" connectionString="Data Source=192.168.0.15;Initial Catalog=Escrow.Security;Persist Security Info=True;User ID=sa;Password=ssl@1234;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="cdbl_file_path" value="D:/CDBL_SUBRA" />
    <add key="bk_file_path" value="D:/DB_BK/" />
    <add key="payInOut_file_path" value="D:\PayInOut\" />
    <add key="trade_export_file_path" value="F:\Trades\" />
    <add key="report_server_url" value="http://192.168.0.15/ReportServer" />
    <add key="report_path" value="/Escrow.BOAS.ReportingService/" />
    <add key="report_network_user_id" value="Administrator" />
    <add key="report_network_password" value="$$!@bd9xf" />
    <add key="balance_check_type" value="1" />
    <add key="sms_excel_file_path" value="D:/BULK_SMS/" />
    <add key="smtp_address" value="smtp.gmail.com" />
    <add key="email_from" value="mailtester.007.2016@gmail.com" />
    <add key="email_password" value="007.2016" />
    <add key="auto_generated_report_path" value="C:/TEST/" />
    <add key="smtp_timeout" value="1800000" />
    <add key="mail_log_file_path" value="C:/MailLog/" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Origin, Content-Type, X-Auth-Token , Authorization" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <!--<modules>
      <remove name="FormsAuthenticationModule" />
    </modules>-->
    <validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="true" />
    <modules runAllManagedModulesForAllRequests="true" />
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BundleTransformer.Core" publicKeyToken="973c344c93aac60d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.32.0" newVersion="1.9.32.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>