@using Microsoft.AspNet.Identity
@model Escrow.BOAS.Web.Models.ManageUserViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = null;
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}
<h2>@ViewBag.Title</h2>
<hr />

<div @*class="container"*@ ng-controller="ChangePasswordController" ng-init="LoadInitial()">
    <p style="color:#5bc0de"><strong>You're logged in as @User.Identity.GetUserName()</strong>.</p>
    <form class="form-horizontal" ng-submit="" name="ChangePasswordForm">
        <div class="form-group">
            <div class="col-md-2">
                <label>Old Password</label>
            </div>
            <div class="col-md-4">
                <input type="password" class="form-control input-sm" data-ng-model="ChangePassword.OldPassword" onload-focus="true" required enter-as-tab/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <label>New Password</label>
            </div>
            <div class="col-md-10">
                <input type="password" name="Password" class="form-control input-sm" ng-model="ChangePassword.NewPassword" ng-minlength="6" required enter-as-tab/>
                <p class="error" ng-show="ChangePasswordForm.Password.$error.minlength || submitted">Password must at least be 6 digits</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <label>Confirm Password</label>
            </div>
            <div class="col-md-10">
                <input type="password" name="ConfirmPassword" class="form-control input-sm" ng-model="ChangePassword.ConfirmPassword" ng-minlength="6" required enter-as-tab ng-blur="CheckPassword()"/>
                <p class="error" ng-show="ChangePasswordForm.ConfirmPassword.$error.mismatch || submitted">Password and confirm password does not match</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Change Password" data-ng-click="ChangeUserPassword()"/>
            </div>
        </div>
    </form>
</div>
