
@{
    ViewBag.Title = "Registration Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Display Email</h2>
<hr />
Check your email and confirm your account, you must be confirmed before you can log in.