@using Microsoft.AspNet.Identity
@using Escrow.Utility
@{
    ViewBag.Title = "User List";
    Layout = null;
}

<h2>Pending Online Users</h2>
<hr />
<div class="row" ng-controller="GetPendingOnlineUserListController" ng-init="LoadUserListForApprove()">
    <div class="col-md-12">       
        <div class="row">
            <div class="form-group">
                <label class="col-md-2 control-label">Item by page</label>
                <div class="col-md-10">
                    <input type="text" min="1" class="form-control input-sm" ng-model="itemsByPage" numbers-only style="width : 150px" />
                </div>
            </div>
        </div>
        <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
            <thead>
                <tr>
                    <th> <input type="checkbox" ng-checked="allSelect" ng-model="allSelect" ng-click="selectAll(displayedCollection,allSelect)" /></th>
                    <th  st-sort="client_id">Client Code</th>
                    <th st-sort="first_holder_name">Client Name</th>
                    <th st-sort="bo_code">BO Code</th>
                    <th st-sort="email_address">Email Address</th>
                    <th st-sort="mobile_no">Mobile</th>
                    <th st-sort="join_holder_name">Joint Holder Name</th>
                    <th st-sort="father_name">Father Name</th>
                    <th st-sort="mother_name">Mother Name</th>
                </tr>
                <tr>
                    <th colspan="9"><input st-search="" class="form-control input-sm" placeholder="global search ..." type="text" style="width : 200px" /></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in displayedCollection">
                    <td><input type="checkbox" ng-checked="row.selected" ng-model="row.selected" @*ng-click="changeSelectAll(row.selected,displayedBranchCollection)"*@ /></td>
                    <td>{{row.client_id}}</td>
                    <td>{{row.first_holder_name}}</td>
                    <td>{{row.bo_code}}</td>
                    <td>{{row.email_address}}</td>
                    <td>{{row.mobile_no}}</td>
                    <td>{{row.join_holder_name}}</td>
                    <td>{{row.father_name}}</td>
                    <td>{{row.mother_name}}</td>             
                </tr>
            </tbody>
            <tfoot>               
                <tr>
                    <td colspan="9" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="" st-template="~/Scripts/Areas/pagination.custom.html"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="col-md-offset-5 col-md-2">
            <button class="btn btn-default" type="submit" ng-click="ApproveSelectedUsers()">Approve</button>
        </div>
    </div>

</div>
