@*
    ///Created by: Asif
    ///Edit date: 31/01/2016
    ///Reason:
*@

@using Microsoft.AspNet.Identity
@using Escrow.Utility

@{
    ViewBag.Title = "Branch Account Type Setting";
    Layout = null;
}

<h2>Branch Account Type Setting</h2>
<div @*class="container"*@ ng-controller="BranchAccountTypeSettingController" ng-init="loadDropdownsAndInfo()">
    <form class="form-horizontal" ng-submit="" name="editBranchAccTypeSettingForm">
        <div class="form-group">
            <div class="col-md-2">
                <label>Branch</label>
            </div>
            <div class="col-md-4">
                <select data-ng-model="editBranchAccTypeSetting.branch_id" class="dropdown form-control input-sm"
                        ng-options="branch.value as branch.text for branch in branchList" onload-focus="true" enter-as-tab required>
                    <option value="">---------------Select---------------</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label>Account Type</label>
            </div>
            <div class="col-md-4">
                <select data-ng-model="editBranchAccTypeSetting.account_type_id" class="dropdown form-control input-sm"
                        ng-options="investorAccountType.value as investorAccountType.text for investorAccountType in investorAccountTypeList" enter-as-tab required>
                    <option value="">---------------Select---------------</option>
                </select>
            </div>

            <div class="col-md-2">
                <label>Initial Deposit</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" data-ng-model="editBranchAccTypeSetting.initial_deposit" onload-focus="true" positive-numbers-only enter-as-tab required />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label>Min Balance On</label>
            </div>
            <div class="col-md-4">
                <select data-ng-model="editBranchAccTypeSetting.minimum_balance_on" class="dropdown form-control input-sm"
                        ng-options="minimumBalanceOn.value as minimumBalanceOn.text for minimumBalanceOn in minimumBalanceOnList" enter-as-tab required>
                    <option value="">---------------Select---------------</option>
                </select>
            </div>

            <div class="col-md-2">
                <label>Min Balance</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" data-ng-model="editBranchAccTypeSetting.minimum_balance" positive-numbers-only enter-as-tab required />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                <input type="checkbox" name="minimumBalanceIsPercentage" data-ng-model="editBranchAccTypeSetting.minimum_balance_is_percentage" ng-true-value=1 ng-false-value=0 enter-as-tab /><label for="minimumBalanceIsPercentage"> Percentage</label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label>Withdraw Limit On</label>
            </div>
            <div class="col-md-4">
                <select data-ng-model="editBranchAccTypeSetting.withdraw_limit_on" class="dropdown form-control input-sm"
                        ng-options="wthdrawLimitOn.value as wthdrawLimitOn.text for wthdrawLimitOn in wthdrawLimitOnList" enter-as-tab required>
                    <option value="">---------------Select---------------</option>
                </select>
            </div>

            <div class="col-md-2">
                <label>Withdraw Limit</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" data-ng-model="editBranchAccTypeSetting.withdraw_limit" positive-numbers-only enter-as-tab required />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                <input type="checkbox" name="withdrawLimitPercentage" data-ng-model="editBranchAccTypeSetting.withdraw_limit_percentage" ng-true-value=1 ng-false-value=0 enter-as-tab /><label for="withdrawLimitPercentage"> Percentage</label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label>Loan On</label>
            </div>
            <div class="col-md-4">
                <select data-ng-model="editBranchAccTypeSetting.loan_on" class="dropdown form-control input-sm"
                        ng-options="loadOn.value as loadOn.text for loadOn in loadOnList" enter-as-tab required>
                    <option value="">---------------Select---------------</option>
                </select>
            </div>

            <div class="col-md-2">
                <label>Max Loan</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" data-ng-model="editBranchAccTypeSetting.loan_max" positive-numbers-only enter-as-tab required />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                <input type="checkbox" name="loanRatio" data-ng-model="editBranchAccTypeSetting.loan_ratio" ng-true-value=1 ng-false-value=0 enter-as-tab /><label for="loanRatio"> Loan Ratio</label>
            </div>

            <div class="col-md-2">
                <label>Profit On</label>
            </div>
            <div class="col-md-4">
                <select data-ng-model="editBranchAccTypeSetting.profit_on" class="dropdown form-control input-sm"
                        ng-options="profitOn.value as profitOn.text for profitOn in profitOnList" enter-as-tab required>
                    <option value="">---------------Select---------------</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-3">
                <input type="submit" class="btn btn-default" value="Save" data-ng-click="updateBranchAccTypeSetting()" />
                <input type="button" class="btn btn-default" value="Reset" data-ng-click="loadDropdownsAndInfo()" />
                <a href="/#BranchAccountTypeSettingList" class="btn btn-default">List</a>
            </div>
        </div>
    </form>
</div>
@section Scripts {
}

