@{
    Layout = null;
}

<div class="row" ng-controller="_PendingOrderNotificationController" style="width:850px">
    <li style="padding-top:15px; padding-left:5px"><a style="padding-left:5px" href="/#PendingOrder">{{pending}}</a></li>
</div>
