@*
    ///Created by: Asif
    ///Edit date: 12/1/2015
    ///Reason:
*@


@using Microsoft.AspNet.Identity
@using Escrow.Utility

@{
    ViewBag.Title = "Charge Information";
    Layout = null;
}

<h2>Charge Information</h2>
<hr />
<div class="row" ng-controller="ChargeInformationController" ng-init="loadChargeInfoList()">
    <div class="col-md-12">
        <div class="row">
            <div class="form-group">
                <label class="col-md-2 control-label">Item by page</label>
                <div class="col-md-10">
                    <input type="text" class="form-control input-sm" ng-model="itemsByPage" positive-numbers-only />
                </div>
            </div>
        </div>
        <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
            <thead>
                <tr>
                    <th st-sort="name">Name</th>
                    <th st-sort="short_code">Short Name</th>
                    <th st-sort="charge_type">Charge Type</th>
                    <th st-sort="minimum_charge">Minimum Charge</th>
                    <th st-sort="charge_amount">Amount</th>
                    <th st-sort="effective_dt">Effective Date</th>
                    <th st-sort="is_percentage">Percentage</th>
                    <th st-sort="is_slab">Slab</th>
                    <th>Edit</th>
                </tr>
                <tr>
                    <th colspan="9"><input st-search="" class="form-control input-sm" placeholder="global search ..." type="text" /></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in displayedCollection">
                    <td>{{row.name}}</td>
                    <td>{{row.short_code}}</td>
                    <td>{{row.charge_type}}</td>
                    <td>{{row.minimum_charge}}</td>
                    <td>{{row.charge_amount}}</td>
                    <td>{{row.effective_dt}}</td>
                    <td>{{row.is_percentage}}</td>
                    <td>{{row.is_slab}}</td>
                    <td><a href="/#EditChargeInformation/{{row.id}}" class="btn btn-link">&#@Constant.Edit;</a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="" st-template="~/Scripts/Areas/pagination.custom.html"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

</div>
@section Scripts {
}

