@{
    Layout = null;
}
<h2>Add New Investor</h2>
<hr />
<div @*class="container"*@ ng-controller="InvestorController" ng-init="LoadAllDropDown()">
    <form class="form-horizontal" ng-submit="" name="newInvestorForm">
        <div class="col-md-6 col-sm-5">
            <div class="form-group">
                <div class="col-md-4">
                    <label for="Name">Client Code</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control input-sm" data-ng-model="investor.client_id" name="clientId" required onload-focus="true" ng-blur="CheckInvestor(investor.client_id)" enter-as-tab />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label for="Name">Client Name</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control input-sm" data-ng-model="investor.first_holder_name" name="clientfirst_holder_name" required enter-as-tab />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label for="BOReference">BO Reference</label>
                </div>

                <div class="col-md-8">
                    <select data-ng-model="investor.bo_refernce_id" class="dropdown form-control input-sm"
                            ng-options="BO.value as BO.text for BO in BoRefList" ng-change="SetBoCode()" enter-as-tab>
                        <option value="">---------------Select---------------</option>
                    </select>

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label for="BOCode">BO Code</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="BO" class="form-control input-sm" ng-model="investor.bo_code" ng-maxlength="16" ng-minlength="16" placeholder="Bo Code should be 16 digits" ng-blur="CheckBo(investor.bo_code)" enter-as-tab />
                    <p class="error" ng-show="newInvestorForm.BO.$error.minlength || newInvestorForm.BO.$error.maxlength" style="color:red;">BO must be 16 digits</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label for="DOB">Date Of Birth</label>
                </div>

                <div class="col-md-7">
                    <input type="text" class="form-control input-sm" datepicker-popup="dd/MM/yyyy" ng-readonly="true" data-ng-model="investor.birth_date" is-open="opened1" min-date="{{ageMax100}}" max-date="{{ageMin18}}" show-weeks="false" show-button-bar="false" enter-as-tab required />
                </div>
                <div class="col-md-1">
                    <span class="input-group-btn">
                        <button style="margin-left : -19px" type="button" class="btn btn-default" ng-click="open($event,'opened1')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
            
        </div>
        <div class="col-md-6 col-sm-5">
            <div class="form-group">
                <div class="col-md-6">
                    <img ngf-src="picFile || image" style="height: 150px; width: 200px;" />
                    <input type="file" ngf-select ng-model="picFile" name="file"
                           accept="image/*" ngf-max-size="2MB"><b>Picture</b><br />
                </div>

                <div class="col-md-6">
                    @*<img ngf-src="sigFile" ngf-default-src="../Images/signature.jpg" style="height: 150px; width: 200px;" />*@
                    <img ngf-src="sigFile || signature" ngf-accept="'image/*'" style="height: 150px; width: 200px;">
                    <input type="file" ngf-select ng-model="sigFile" name="file"
                           accept="image/*" ngf-max-size="2MB"><b>Signature</b><br />
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-2">
                    <label for="operation_type_id">Operation Type</label>
                </div>
                <div class="col-md-4">
                    <select data-ng-model="investor.operation_type_id" class="dropdown form-control input-sm"
                            ng-options="OpetarionType.value as OpetarionType.text for OpetarionType in OpetarionTypeList" enter-as-tab required>
                        <option value="">---------------Select---------------</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="branch_id">Branch</label>
                </div>
                <div class="col-md-4">
                    <select data-ng-model="investor.branch_id" class="dropdown form-control input-sm"
                            ng-options="Branch.value as Branch.text for Branch in BranchList" enter-as-tab required>
                    </select>
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label for="routing_no">Router No</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control input-sm" data-ng-model="investor.routing_no" name="routing_no" required onload-focus="false" ng-blur="CheckBranch(investor.routing_no)" enter-as-tab />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label for="bank_id">Bank</label>
                </div>
                <div class="col-md-4">
                    <select data-ng-model="investor.bank_id" class="dropdown form-control input-sm"
                            ng-options="Bank.value as Bank.text for Bank in BankList" enter-as-tab required ng-change="LoadBankBranch(investor.bank_id)">
                        <option value="">---------------Select---------------</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="bank_branch_id">Bank Branch</label>
                </div>
                <div class="col-md-4">
                    <select data-ng-model="investor.bank_branch_id" class="dropdown form-control input-sm"
                            ng-options="BankBranch.value as BankBranch.text for BankBranch in BankBranchList" ng-change="LoadRouter(investor.bank_branch_id)" enter-as-tab required>
                        <option value="">---------------Select---------------</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label for="banc_account_no">Bank Account</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" name="banc_account_no" ng-model="investor.banc_account_no" enter-as-tab required />
                </div>
                <div class="col-md-2">
                    <label for="Trader">Trader</label>
                </div>
                <div class="col-md-4">

                    <select data-ng-model="investor.trader_id" class="dropdown form-control input-sm"
                            ng-options="Trader.value as Trader.text for Trader in TraderList" enter-as-tab required>
                        <option value="">---------------Select---------------</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label for="trade_type_id">Trade Type</label>
                </div>
                <div class="col-md-4">
                    <select data-ng-model="investor.trade_type_id" class="dropdown form-control input-sm"
                            ng-options="TraderType.value as TraderType.text for TraderType in TraderTypeList" enter-as-tab required>
                        <option value="">---------------Select---------------</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <label for="account_type_id">Account Type</label>
                </div>
                <div class="col-md-4">
                    <select data-ng-model="investor.account_type_id" class="dropdown form-control input-sm"
                            ng-options="AccType.value as AccType.text for AccType in AccTypeList" enter-as-tab required>
                        <option value="">---------------Select---------------</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label for="ipo_type_id">Ipo Type</label>
                </div>
                <div class="col-md-4">
                    <select data-ng-model="investor.ipo_type_id" class="dropdown form-control input-sm"
                            ng-options="Ipo.value as Ipo.text for Ipo in IpoTypeList" enter-as-tab required>
                        <option value="">---------------Select---------------</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="active_status_id">Status</label>
                </div>
                <div class="col-md-4">
                    <select data-ng-model="investor.active_status_id" class="dropdown form-control input-sm"
                            ng-options="Status.value as Status.text for Status in StatusList" enter-as-tab required>
                        <option value="">---------------Select---------------</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6"></div>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="personalHeading">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapsePersonalInformation" aria-expanded="false" aria-controls="collapsePersonalInformation">
                                Others Information
                            </a>
                        </h4>
                    </div>
                    <div id="collapsePersonalInformation" class="panel-collapse collapse " role="tabpanel" aria-labelledby="personalHeading">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label for="father_name">Father/Husband</label>
                                </div>

                                <div class="col-md-4">
                                    <input type="text" class="form-control input-sm" ng-model="investor.father_name" enter-as-tab />
                                </div>

                                <div class="col-md-2">
                                    <label for="mother_name">Mother Name</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control input-sm" ng-model="investor.mother_name" enter-as-tab />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label for="Gender">Gender</label>
                                </div>
                                <div class="col-md-4">
                                    <select data-ng-model="investor.gender_id" class="dropdown form-control input-sm"
                                            ng-options="Gender.value as Gender.text for Gender in GenderList" enter-as-tab>
                                        <option value="">---------------Select---------------</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label for="NID">National ID</label>
                                </div>

                                <div class="col-md-4">
                                    <input type="text" class="form-control input-sm" name="NID" ng-model="investor.national_id" enter-as-tab />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label for="passport_no">Passport No</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control input-sm" ng-model="investor.passport_no" enter-as-tab />
                                </div>
                                <div class="col-md-2">
                                    <label for="nibondhon_no">Nibondhon No</label>
                                </div>

                                <div class="col-md-4">
                                    <input type="text" class="form-control input-sm" name="nibondhon_no" ng-model="investor.nibondhon_no" enter-as-tab />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-2">
                                    <label for="phone_no">Phone</label>
                                </div>

                                <div class="col-md-4">
                                    <input type="text" class="form-control input-sm" ng-model="investor.phone_no" enter-as-tab />
                                </div>

                                <div class="col-md-2">
                                    <label for="mobile_no">mobile</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control input-sm" ng-model="investor.mobile_no" enter-as-tab />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label for="district">District</label>
                                </div>
                                <div class="col-md-4">
                                    <select data-ng-model="investor.district_id" class="dropdown form-control input-sm"
                                            ng-options="District.value as District.text for District in DistrictList" enter-as-tab>
                                        <option value="">---------------Select---------------</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label for="Thana">Thana</label>
                                </div>
                                <div class="col-md-4">
                                    <select data-ng-model="investor.thana_id" class="dropdown form-control input-sm"
                                            ng-options="Thana.value as Thana.text for Thana in ThanaList" enter-as-tab>
                                        <option value="">---------------Select---------------</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label for="mailing_address">Present Address</label>
                                </div>

                                <div class="col-md-4">
                                    <textarea class="form-control input-sm" ng-model="investor.mailing_address" enter-as-tab />
                                </div>

                                <div class="col-md-2">
                                    <label for="permanent_address">Permanent Address</label>
                                </div>
                                <div class="col-md-4">
                                    <textarea class="form-control input-sm" ng-model="investor.permanent_address" enter-as-tab />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label for="email_address">Email</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control input-sm" ng-model="investor.email_address" enter-as-tab />
                                </div>
                                <div class="col-md-2">
                                    <label for="opening_date">Opening Date</label>
                                </div>

                                <div class="col-md-3">
                                    <input type="text" class="form-control input-sm" datepicker-popup="dd/MM/yyyy" ng-readonly="true" data-ng-model="investor.opening_date" is-open="opened4" min-date="minDate" max-date="'31/12/9999'" show-weeks="false" show-button-bar="false" enter-as-tab  />
                                </div>
                                <div class="col-md-1">
                                    <span class="input-group-btn">
                                        <button style="margin-left : -19px" type="button" class="btn btn-default" ng-click="open($event,'opened4')"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label for="passport_issue_date">Passport Issue Date</label>
                                </div>

                                <div class="col-md-3">
                                    <input type="text" class="form-control input-sm" datepicker-popup="dd/MM/yyyy" ng-readonly="true" data-ng-model="investor.passport_issue_date" is-open="opened2" min-date="minDate" max-date="'31/12/9999'" show-weeks="false" show-button-bar="false" enter-as-tab  />
                                </div>
                                <div class="col-md-1">
                                    <span class="input-group-btn">
                                        <button style="margin-left : -19px" type="button" class="btn btn-default" ng-click="open($event,'opened2')"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                                <div class="col-md-2">
                                    <label for="passport_valid_to_date">Passport Valid to</label>
                                </div>

                                <div class="col-md-3">
                                    <input type="text" class="form-control input-sm" datepicker-popup="dd/MM/yyyy" ng-readonly="true" data-ng-model="investor.passport_valid_to_date" is-open="opened3" min-date="minDate" max-date="'31/12/9999'" show-weeks="false" show-button-bar="false" enter-as-tab  />
                                </div>
                                <div class="col-md-1">
                                    <span class="input-group-btn">
                                        <button style="margin-left : -19px" type="button" class="btn btn-default" ng-click="open($event,'opened3')"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label for="passport_issue_place">Passport Issue Place</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control input-sm" ng-model="investor.passport_issue_place" enter-as-tab />
                                </div>
                                <div class="col-md-2">
                                    <label for="sub_account_type_id">Sub Account Type</label>
                                </div>
                                <div class="col-md-4">
                                    <select data-ng-model="investor.sub_account_type_id" class="dropdown form-control input-sm"
                                            ng-options="SubAccount.value as SubAccount.text for SubAccount in InvestorSubAccList" enter-as-tab>
                                        <option value="">---------------Select---------------</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label for="introducer_id">Introducer</label>
                                </div>
                                <div class="col-md-4">
                                    <select data-ng-model="investor.introducer_id" class="dropdown form-control input-sm"
                                            ng-options="Introducer.value as Introducer.text for Introducer in IntroducerList" enter-as-tab>
                                        <option value="">---------------Select---------------</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label for="omnibus_master_id">Omnibus Master</label>
                                </div>
                                <div class="col-md-4">
                                    <select data-ng-model="investor.omnibus_master_id" class="dropdown form-control input-sm"
                                            ng-options="Omnibus.value as Omnibus.text for Omnibus in OmnibusList" enter-as-tab>
                                        <option value="">---------------Select---------------</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <input type="checkbox" name="isBeftn" ng-model="investor.beftn_enabled" ng-true-value=1 ng-false-value=0 enter-as-tab /><label for="isBeftn"> BEFTN Enabled</label>
                </div>
                @*<div class="col-md-1">
                </div>*@
                <div class="col-md-3">
                    <input type="checkbox" name="isEmail" ng-model="investor.email_enabled" ng-true-value=1 ng-false-value=0 enter-as-tab /><label for="isEmail">Email Enabled</label>
                </div>
                
                <div class="col-md-3">
                    <input type="checkbox" name="isInternet" ng-model="investor.internet_enabled" ng-true-value=1 ng-false-value=0 enter-as-tab /><label for="isInternet"> Internet Enabled</label>
                </div>
                @*<div class="col-md-1">
                </div>*@
                <div class="col-md-3">
                    <input type="checkbox" name="isSms" ng-model="investor.sms_enabled" ng-true-value=1 ng-false-value=0 enter-as-tab /><label for="isSms"> Sms Enabled</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Save" data-ng-click="AddNewInvestor(picFile,sigFile)" />
                <input type="button" class="btn btn-default" value="Reset" data-ng-click="Reset()" />
                <a href="/#InvestorList" class="btn btn-default">List</a>
            </div>
        </div>
    </form>
</div>