/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/12/2015 1:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 5/12/2015 1:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 5/12/2015 1:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 5/12/2015 1:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 5/12/2015 1:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 5/12/2015 1:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[UserFullName] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblBrokerInformation]    Script Date: 5/12/2015 1:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblBrokerInformation](
	[membership_id] [numeric](9, 0) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[short_name] [varchar](3) NULL,
	[reg_Number] [varchar](20) NULL,
	[initial_date] [datetime] NULL,
	[trec_number] [varchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[membership_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblBrokerModule]    Script Date: 5/12/2015 1:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBrokerModule](
	[membership_id] [numeric](9, 0) NOT NULL,
	[module_id] [numeric](9, 0) NOT NULL,
 CONSTRAINT [PK_tblBrokerModule] PRIMARY KEY CLUSTERED 
(
	[membership_id] ASC,
	[module_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblBrokerUser]    Script Date: 5/12/2015 1:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBrokerUser](
	[membership_id] [numeric](9, 0) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_tblBrokerUser] PRIMARY KEY CLUSTERED 
(
	[membership_id] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblBrokerUserModule]    Script Date: 5/12/2015 1:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBrokerUserModule](
	[UserId] [nvarchar](128) NOT NULL,
	[membership_id] [numeric](9, 0) NOT NULL,
	[module_id] [numeric](9, 0) NOT NULL,
 CONSTRAINT [PK_tblUserBrokerModule] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[membership_id] ASC,
	[module_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblBrokerUserView]    Script Date: 5/12/2015 1:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBrokerUserView](
	[UserId] [nvarchar](128) NOT NULL,
	[membership_id] [numeric](9, 0) NOT NULL,
	[module_id] [numeric](9, 0) NOT NULL,
	[veiw_id] [numeric](9, 0) NOT NULL,
 CONSTRAINT [PK_tblUserBrokerView] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[membership_id] ASC,
	[module_id] ASC,
	[veiw_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblModule]    Script Date: 5/12/2015 1:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblModule](
	[module_id] [numeric](9, 0) IDENTITY(1,1) NOT NULL,
	[module_name] [varchar](150) NOT NULL,
 CONSTRAINT [PK_tblModule] PRIMARY KEY CLUSTERED 
(
	[module_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblView]    Script Date: 5/12/2015 1:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblView](
	[view_id] [numeric](9, 0) IDENTITY(1,1) NOT NULL,
	[module_id] [numeric](9, 0) NOT NULL,
	[view_name] [varchar](150) NOT NULL,
	[router_name] [varchar](50) NULL,
	[action_name] [varchar](50) NULL,
	[area_name] [varchar](50) NULL,
 CONSTRAINT [PK_tblView] PRIMARY KEY CLUSTERED 
(
	[view_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[AspNetUserClaims] ON 

GO
INSERT [dbo].[AspNetUserClaims] ([Id], [UserId], [ClaimType], [ClaimValue]) VALUES (2, N'48cb60f6-8ebc-4299-b6e1-0a1c7a974a4c', N'UserFullName', N'Md. Saifullah Al Azad')
GO
SET IDENTITY_INSERT [dbo].[AspNetUserClaims] OFF
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [UserFullName]) VALUES (N'1bf1c0e7-fa04-4266-9ce4-d20d6516737a', N'saifullahazad@live.com', 1, N'AIMujtyuFGi97yy77P7lfLa4NZJkWVyFDI0Z+CJtO/HrHbplipBJK5Y4ZqTLceMoSw==', N'6f2134bb-c73e-4bf3-af41-aa3f6c1e6394', NULL, 0, 0, NULL, 0, 0, N'sa', NULL)
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [UserFullName]) VALUES (N'48cb60f6-8ebc-4299-b6e1-0a1c7a974a4c', N'saifullahazad@live.com', 1, N'AMmpc0FYT5iyjBcRwOnTKAcuP6ABbFHrU65yjimvT/8pyHoBYGahk/vSn9jAyhs6NA==', N'd9d6630a-10cc-4d9f-a66e-d06facfc681f', NULL, 0, 0, NULL, 0, 0, N'azad', NULL)
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [UserFullName]) VALUES (N'fadaee5d-0dea-4465-9363-04007fa5aa22', NULL, 0, N'AMviUovagFL5fwboCH545pEfMVF2pFFmf9MPkWm/nsdWXZGVaLBUkHyTVb3XeZIQbg==', N'39d83b67-db0a-44a8-9b95-f281c86f943d', NULL, 0, 0, NULL, 0, 0, N'Admin', NULL)
GO
INSERT [dbo].[tblBrokerInformation] ([membership_id], [Name], [short_name], [reg_Number], [initial_date], [trec_number]) VALUES (CAST(62 AS Numeric(9, 0)), N'Banco Securities Ltd.', N'BAN', NULL, NULL, N'62')
GO
INSERT [dbo].[tblBrokerUser] ([membership_id], [UserId]) VALUES (CAST(62 AS Numeric(9, 0)), N'1bf1c0e7-fa04-4266-9ce4-d20d6516737a')
GO
INSERT [dbo].[tblBrokerUser] ([membership_id], [UserId]) VALUES (CAST(62 AS Numeric(9, 0)), N'48cb60f6-8ebc-4299-b6e1-0a1c7a974a4c')
GO
INSERT [dbo].[tblBrokerUser] ([membership_id], [UserId]) VALUES (CAST(62 AS Numeric(9, 0)), N'fadaee5d-0dea-4465-9363-04007fa5aa22')
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 5/12/2015 1:35:50 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 5/12/2015 1:35:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 5/12/2015 1:35:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 5/12/2015 1:35:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 5/12/2015 1:35:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 5/12/2015 1:35:50 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[tblBrokerModule]  WITH CHECK ADD  CONSTRAINT [FK_tblBrokerModule_tblBrokerInformation] FOREIGN KEY([membership_id])
REFERENCES [dbo].[tblBrokerInformation] ([membership_id])
GO
ALTER TABLE [dbo].[tblBrokerModule] CHECK CONSTRAINT [FK_tblBrokerModule_tblBrokerInformation]
GO
ALTER TABLE [dbo].[tblBrokerModule]  WITH CHECK ADD  CONSTRAINT [FK_tblBrokerModule_tblModule] FOREIGN KEY([module_id])
REFERENCES [dbo].[tblModule] ([module_id])
GO
ALTER TABLE [dbo].[tblBrokerModule] CHECK CONSTRAINT [FK_tblBrokerModule_tblModule]
GO
ALTER TABLE [dbo].[tblBrokerUser]  WITH CHECK ADD  CONSTRAINT [FK_tblBrokerUser_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[tblBrokerUser] CHECK CONSTRAINT [FK_tblBrokerUser_AspNetUsers]
GO
ALTER TABLE [dbo].[tblBrokerUser]  WITH CHECK ADD  CONSTRAINT [FK_tblBrokerUser_tblBrokerInformation] FOREIGN KEY([membership_id])
REFERENCES [dbo].[tblBrokerInformation] ([membership_id])
GO
ALTER TABLE [dbo].[tblBrokerUser] CHECK CONSTRAINT [FK_tblBrokerUser_tblBrokerInformation]
GO
ALTER TABLE [dbo].[tblBrokerUserModule]  WITH CHECK ADD  CONSTRAINT [FK_tblBrokerUserModule_tblBrokerModule] FOREIGN KEY([membership_id], [module_id])
REFERENCES [dbo].[tblBrokerModule] ([membership_id], [module_id])
GO
ALTER TABLE [dbo].[tblBrokerUserModule] CHECK CONSTRAINT [FK_tblBrokerUserModule_tblBrokerModule]
GO
ALTER TABLE [dbo].[tblBrokerUserModule]  WITH CHECK ADD  CONSTRAINT [FK_tblBrokerUserModule_tblBrokerUser] FOREIGN KEY([membership_id], [UserId])
REFERENCES [dbo].[tblBrokerUser] ([membership_id], [UserId])
GO
ALTER TABLE [dbo].[tblBrokerUserModule] CHECK CONSTRAINT [FK_tblBrokerUserModule_tblBrokerUser]
GO
ALTER TABLE [dbo].[tblBrokerUserView]  WITH CHECK ADD  CONSTRAINT [FK_tblBrokerUserView_tblBrokerUserModule] FOREIGN KEY([UserId], [membership_id], [module_id])
REFERENCES [dbo].[tblBrokerUserModule] ([UserId], [membership_id], [module_id])
GO
ALTER TABLE [dbo].[tblBrokerUserView] CHECK CONSTRAINT [FK_tblBrokerUserView_tblBrokerUserModule]
GO
ALTER TABLE [dbo].[tblBrokerUserView]  WITH CHECK ADD  CONSTRAINT [FK_tblBrokerUserView_tblView] FOREIGN KEY([veiw_id])
REFERENCES [dbo].[tblView] ([view_id])
GO
ALTER TABLE [dbo].[tblBrokerUserView] CHECK CONSTRAINT [FK_tblBrokerUserView_tblView]
GO








ALTER TABLE [Escrow.BOAS].[dbo].[DimDate] ADD [FullDateCDBL] VARCHAR(11) NULL;


update dm
set dm.FullDateCDBL = right(replicate('0',2) + dm.DayOfMonth,2) + '-' + upper(dm.MonthYear)
from [Escrow.BOAS].[dbo].[DimDate] dm
