@*
    ///Created by: Asif
    ///Edit date: 17/9/2015
    ///Reason: On Demand Charge List View
*@


@using Microsoft.AspNet.Identity
@using Escrow.Utility

@{
    ViewBag.Title = "On Demand Charge";
    Layout = null;
}

<h2>On Demand Charge</h2>
<hr />
<div class="row" ng-controller="OnDemandChargeController" ng-init="loadOnDemandChargeList()">
    <div class="col-md-12">
        <a href="/#OnDemandCharges" class="btn btn-default">&#10011; &nbsp;Add New</a><br /><br />
        <div class="row">
            <div class="form-group">
                <label class="col-md-2 control-label">Item by page</label>
                <div class="col-md-10">
                    <input type="text" class="form-control input-sm" ng-model="itemsByPage" positive-numbers-only />
                </div>
            </div>
        </div>
        <div style="overflow-x:scroll; width:100%">
            <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
                <thead>
                    <tr>
                        <th st-sort="transaction_dt">Date</th>
                        <th st-sort="first_holder_name">Investor</th>
                        <th st-sort="transaction_type">Transaction Type</th>
                        <th st-sort="charge">Charge</th>
                        <th st-sort="value_dt">Value Date</th>
                        <th st-sort="amount">Amount</th>
                        <th st-sort="remarks">Remarks</th>
                    </tr>
                    <tr>
                        <th colspan="7"><input st-search="" class="form-control input-sm" placeholder="global search ..." type="text" /></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in displayedCollection">
                        <td>{{row.transaction_dt}}</td>
                        <td>{{row.first_holder_name}}</td>
                        <td>{{row.transaction_type}}</td>
                        <td>{{row.charge}}</td>
                        <td>{{row.value_dt}}</td>
                        <td>{{row.amount}}</td>
                        <td>{{row.remarks}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7" class="text-center">
                            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="" st-template="~/Scripts/Areas/pagination.custom.html"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div>
@section Scripts {
}

