@*
    ///Created by: Asif
    ///Edit date: 25/8/2015
    ///Reason: Employee Information Add View
*@


@using Microsoft.AspNet.Identity
@using Escrow.Utility

@{
    ViewBag.Title = "Cash And Cheque Receive";
    Layout = null;
}

<h2>Cash And Cheque Receive</h2>
<div @*class="container"*@ ng-controller="CashChequeReceiveController" ng-init="loadCashCheqRecAndDdlById()">
    <form class="form-horizontal" ng-submit="" name="editCashCheqRecForm">
        <input type="hidden" name="Id" data-ng-model="editCashCheqReceive.id" />
        <div class="form-group">
            <div class="col-md-2">
                <label>Voucher No</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" data-ng-model="editCashCheqReceive.voucher_no" ng-readonly="true" enter-as-tab required />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label>Investor Code</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" data-ng-model="editCashCheqReceive.client_id" ng-blur="getInvestorInfoForEdit()" onload-focus="true" enter-as-tab required />
            </div>

            <div class="col-md-6">
                <label class="col-md-12 control-label" ng-style="customStyle.style">{{editCashCheqReceive.first_holder_name}}</label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label>Transaction Mode</label>
            </div>
            <div class="col-md-4">
                <select data-ng-model="editCashCheqReceive.transaction_mode_id" class="dropdown form-control input-sm"
                        ng-options="transactionMode.value as transactionMode.text for transactionMode in transactionModeList" ng-change="showHideBankInfoForEdit()" enter-as-tab required>
                    <option value="">---------------Select---------------</option>
                </select>
            </div>
        </div>

        <fieldset ng-show="editCashCheqReceive.fldBank">
            <div class="form-group">
                <div class="col-md-2">
                    <label>Cheque No</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" data-ng-model="editCashCheqReceive.cheque_no" enter-as-tab />
                </div>

                <div class="col-md-2">
                    <label>Cheque Date</label>
                </div>
                <div class="col-md-4">
                    <p class="input-group">
                        <input type="text" class="form-control input-sm" datepicker-popup="dd/MM/yyyy" ng-readonly="true" data-ng-model="editCashCheqReceive.cheque_dt" is-open="opened1" min-date="minDate" max-date="'31/12/9999'" show-weeks="false" show-button-bar="false" enter-as-tab />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event,'opened1')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    <label>Bank</label>
                </div>
                <div class="col-md-4">
                    <select data-ng-model="editCashCheqReceive.bank_id" class="dropdown form-control input-sm"
                            ng-options="bank.value as bank.text for bank in bankList" enter-as-tab>
                        <option value="">---------------Select---------------</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <label>Bank Branch</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" data-ng-model="editCashCheqReceive.bank_branch_name" enter-as-tab />
                </div>
            </div>
        </fieldset>

        <div class="form-group">
            <div class="col-md-2">
                <label>Amount</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" data-ng-model="editCashCheqReceive.amount" ng-blur="amountInWord(editCashCheqReceive.amount)" positive-numbers-only enter-as-tab required />
            </div>

            <div class="col-md-6">
                <label class="col-md-12 control-label" ng-style="customStyleAmountInWord.style">{{amount_in_word}}</label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label>Doc Ref No.</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" data-ng-model="editCashCheqReceive.doc_ref_no" enter-as-tab />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label>Receive Date</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control input-sm" data-ng-model="editCashCheqReceive.receive_dt" enter-as-tab ng-readonly="true" />
            </div>

            <div class="col-md-2">
                <label>Value Date</label>
            </div>
            <div class="col-md-4">
                <p class="input-group">
                    <input type="text" class="form-control input-sm" datepicker-popup="dd/MM/yyyy" ng-readonly="true" data-ng-model="editCashCheqReceive.value_dt" is-open="opened2" min-date="minDate" max-date="'31/12/9999'" ng-required="false" show-weeks="false" show-button-bar="false" enter-as-tab required />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event,'opened2')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label>Broker Branch</label>
            </div>
            <div class="col-md-4">
                <select data-ng-model="editCashCheqReceive.broker_branch_id" class="dropdown form-control input-sm"
                        ng-options="branch.value as branch.text for branch in branchList" enter-as-tab required>
                </select>
            </div>

            <div class="col-md-2">
                <label>Remarks</label>
            </div>
            <div class="col-md-4">
                <textarea class="form-control input-sm" data-ng-model="editCashCheqReceive.remarks" enter-as-tab></textarea>
            </div>
        </div>

        <fieldset ng-show="editCashCheqReceive.fldInv">
            <legend>Investor Information</legend>
            <div class="form-group">
                <div class="col-md-2">
                    <label>Available Balance</label>
                </div>
                <div class="col-md-4">
                    <label class="col-md-4 control-label">{{editCashCheqReceive.available_balance}}</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <label>Ledger Balance</label>
                </div>
                <div class="col-md-4">
                    <label class="col-md-4 control-label">{{editCashCheqReceive.ledger_balance}}</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <p>Investor Photo</p>
                    <img ngf-src="editCashCheqReceive.invPic || image" ngf-accept="'image/*'" style="height: 150px; width: 200px;" />
                </div>
                <div class="col-md-4">
                    <p>Investor Signature</p>
                    <img ngf-src="editCashCheqReceive.invSignature || signature" ngf-accept="'image/*'" style="height: 150px; width: 200px;" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <p>Joint Holders Photo</p>
                    <img ngf-src="editCashCheqReceive.invJoinHolderPic || image" ngf-accept="'image/*'" style="height: 150px; width: 200px;" />
                </div>
                <div class="col-md-4">
                    <p>Joint Holders Signature</p>
                    <img ngf-src="editCashCheqReceive.invJoinHolderSignature || signature" ngf-accept="'image/*'" style="height: 150px; width: 200px;" />
                </div>
            </div>
        </fieldset>

        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-6">
                <input type="submit" class="btn btn-default" value="Save" data-ng-click="editCashChequeReceive()" />
                <input type="button" class="btn btn-default" value="Reset" data-ng-click="loadCashCheqRecAndDdlById()" />
                <a href="/#FundReceiveList" class="btn btn-default">List</a>
                <a class="various iframe btn btn-default" ng-href="../../Transaction/CashChequeReceive/printMoneyReceipt?voucher_no={{editCashCheqReceive.voucher_no}}" fancyboxable>Print</a>
            </div>
        </div>
    </form>
</div>
@section Scripts {
}

