
<div class="form-group">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">
        <div class="col-md-6"><input type="checkbox" data-ng-model="nonTradingDayMaster.Sunday" ng-true-value="1" ng-false-value="0" />Sunday</div>
        <div class="col-md-6"><input type="checkbox" data-ng-model="nonTradingDayMaster.Monday" ng-true-value="1" ng-false-value="0" />Monday</div>
        
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-8">
        <div class="col-md-6"><input type="checkbox" data-ng-model="nonTradingDayMaster.Tuesday" ng-true-value="1" ng-false-value="0" />Tuesday</div>
        <div class="col-md-6"><input type="checkbox" data-ng-model="nonTradingDayMaster.Wednesday" ng-true-value="1" ng-false-value="0" />Wednesday</div>
        
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-8">
        <div class="col-md-6"><input type="checkbox" data-ng-model="nonTradingDayMaster.Thrusday" ng-true-value="1" ng-false-value="0" />Thrusday</div>
        <div class="col-md-6"><input type="checkbox" data-ng-model="nonTradingDayMaster.Friday" ng-true-value="1" ng-false-value="0" />Friday</div>
        
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-8">
        
        <div class="col-md-6"><input type="checkbox" data-ng-model="nonTradingDayMaster.Saturday" ng-true-value="1" ng-false-value="0" />Saturday</div>
    </div>
    
</div>

