
@*
    Created By : Rifad
    Date: 08-05-2017
    Reason:

*@

@{
    ViewBag.Title = "Branch List";
    Layout = null;
}


<div class="row" ng-controller="BankInformationController" ng-init="loadBranchList()">
    <div class="col-md-12">
        <a href="/#AddBranch/{{bank_id}}" class="btn btn-default">&#10011; &nbsp;Add New</a><br /><br />
        <div class="row">
            <h2 class="text-center text-info">All Branch Information of {{ bankInformation.bank_name }}</h2>
            <div class="form-group">
                <label class="col-md-2 control-label">Item by page</label>
                <div class="col-md-10">
                    <input type="text" class="form-control input-sm" ng-model="itemsByPage" positive-numbers-only />
                </div>
            </div>
        </div>
        <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
            <thead>
                <tr>

                    <th st-sort="branch_name">Branch Name</th>
                    <th st-sort="address">Address</th>
                    <th st-sort="contact_person">Contact Person</th>
                    <th st-sort="contact_number">Contact Number</th>
                    <th st-sort="email_address">Email</th>
                    <th st-sort="district_name">District</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr>
                    <th colspan="10"><input st-search="" class="form-control input-sm" placeholder="global search ..." type="text" /></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in displayedCollection">

                    <td>{{ row.branch_name }}</td>
                    <td>{{ row.address }}</td>
                    <td>{{ row.contact_person }}</td>
                    <td>{{ row.contact_number }}</td>
                    <td>{{ row.email_address }}</td>
                    <td>{{ row.district_name }}</td>
                    <td><a href="/#editBranch/{{row.id}}" class="btn btn-link">&#@Escrow.Utility.Constant.Edit;</a></td>
                    <td><a ng-click="DeleteBranch($index)" class="btn btn-link">&#@Escrow.Utility.Constant.Delete;</a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="10" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="" st-template="~/Scripts/Areas/pagination.custom.html"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
@section Scripts {
}




